*.mat
*.csv
*.__pycache__/
*.ipynb_checkpoints
*.DS_Store*.ipynb
__pycache__/
.DS_Store
*.json
*.jpg
*.jsonl
*.pkl
*.pth
Lab3_supervised/best_model.pth
/.venv
.idea
data
models
policies/
PCGym_Lab_Solution.ipynb
logs/
build/
*.npy
